.omg {
    &.display-B {
        display: block;
    }

    &.display-F {
        display: flex;
    }

    &.display-I {
        display: inline;
    }

    &.display-N {
        display: none;
    }
}