.omg {
    &.align-center {
        align-items: center;
    }

    &.align-end {
        align-items: flex-end;
    }

    &.align-start {
        align-items: flex-start;
    }

    @for $i from 0 to 11 {
        $num: $i * 10;
        $val: $num + %;

        &.flex-#{$num} {
            flex: 0 0 $val;
            max-width: $val;
        }
    }

    &.flex-12-5 {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }

    &.flex-25 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    &.flex-33 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    &.flex-66 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }

    &.flex-75 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    &.flex-center-content {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &.flex-grow {
        flex-grow: 1;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }

    &.flex-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &.justify-around {
        justify-content: space-around;
    }

    &.justify-between {
        justify-content: space-between;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.justify-start {
        justify-content: flex-start;
    }
}
