.omg-flex {
    &.J-C {
        justify-content: center;
    }

    &.J-E {
        justify-content: flex-end;
    }

    &.J-S {
        justify-content: flex-start;
    }

    &.J-SA {
        justify-content: space-around;
    }

    &.J-SB {
        justify-content: space-between;
    }

    &.F-G {
        flex-grow: 1;
    }
}