.omg {
    &.float-left {
        float: left;
    }

    &.float-right {
        float: right;
    }

    &.float-fix::after {
        content: '';
        clear: both;
        display: block;
    }
}
