.omg {
    @for $i from 0 to 11 {
        $num: ($i * 5) + px;

        &.margin-#{$i} {
            margin: $num;
        }

        &.margin-top-#{$i} {
            margin-top: $num;
        }

        &.margin-right-#{$i} {
            margin-right: $num;
        }

        &.margin-bottom-#{$i} {
            margin-bottom: $num;
        }

        &.margin-left-#{$i} {
            margin-left: $num;
        }

        &.margin-x-#{$i} {
            margin-left: $num;
            margin-right: $num;
        }

        &.margin-y-#{$i} {
            margin-bottom: $num;
            margin-top: $num;
        }
    }
}
