.omg {
    @for $i from 0 to 11 {
        $num: ($i * 5) + px;

        &.margin-#{$i} {
            margin: $num;
        }

        &.margin-T-#{$i} {
            margin-top: $num;
        }

        &.margin-R-#{$i} {
            margin-right: $num;
        }

        &.margin-B-#{$i} {
            margin-bottom: $num;
        }

        &.margin-L-#{$i} {
            margin-left: $num;
        }

        &.margin-X-#{$i} {
            margin-left: $num;
            margin-right: $num;
        }

        &.margin-Y-#{$i} {
            margin-bottom: $num;
            margin-top: $num;
        }
    }
}