.omg {
    @for $i from 0 to 11 {
        $num: ($i * 5) + px;

        &.padding-#{$i} {
            padding: $num;
        }

        &.padding-top-#{$i} {
            padding-top: $num;
        }

        &.padding-right-#{$i} {
            padding-right: $num;
        }

        &.padding-bottom-#{$i} {
            padding-bottom: $num;
        }

        &.padding-left-#{$i} {
            padding-left: $num;
        }

        &.padding-x-#{$i} {
            padding-left: $num;
            padding-right: $num;
        }

        &.padding-y-#{$i} {
            padding-bottom: $num;
            padding-top: $num;
        }
    }
}
