.omg {
    @for $i from 0 to 11 {
        $num: ($i * 5) + px;

        &.padding-#{$i} {
            padding: $num;
        }

        &.padding-T-#{$i} {
            padding-top: $num;
        }

        &.padding-R-#{$i} {
            padding-right: $num;
        }

        &.padding-B-#{$i} {
            padding-bottom: $num;
        }

        &.padding-L-#{$i} {
            padding-left: $num;
        }

        &.padding-X-#{$i} {
            padding-left: $num;
            padding-right: $num;
        }

        &.padding-Y-#{$i} {
            padding-bottom: $num;
            padding-top: $num;
        }
    }
}